[submodule "external/NV3D-Lib"]
	path = external/NV3D-Lib
	url = https://github.com/oneup03/NV3D-Lib.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
